a {
    text-decoration: none;
    color: inherit;
}
/* IE 6/7 .clearfix { zoom: 1; } */
.skip a{
    display: block;
    height: 1px;
    width: 1px;
    margin: 0 -1px -1px 0;
    padding: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    &:hover,
    &:active,
    &:focus {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 0;
        text-indent: 10px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        line-height: 1;
        text-decoration: none !important;
        position: relative;
        text-align: center;
        background: rgba(0,0,0,0.7);
        z-index: 10000;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000); 
    }
}
caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
//select
select {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
  }
  select::-ms-expand {
    display: none;
  }
// Placeholder Text Color
input[type="text"],
input[type="tel"] {

    background: #fff;
}
input[placeholder],
textarea[placeholder] {
    &::-webkit-input-placeholder {
        color: #666;
    }

    &:-moz-placeholder {
        color: #666;
    }

    &::-moz-placeholder {
        color: #666;
    }

    &:-ms-input-placeholder {
        color: #666;
    }

    &.placeholder {
        color: #666;
    }
}
html {
    ///* Sets up the Base 10 stuff */
    font-size: 62.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    @include font-size(1.6);
    line-height: 1.5;
    letter-spacing: -0.03rem;
    color: $cbase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    margin: 0;
    padding: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.skip{
    width: 100%;
.skip a{
    position: absolute;
    background: rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000); 
    
    text-align: center;
    color: #fff;
    z-index: 10000;
    line-height: 35px;
    top: -35px;
    opacity: 0;
        &:focus{
            opacity: 1;
        }
    }
}
.clear {
    @include clearfix;
}

.cell_box {
    @include cellBox;
}
// ---------------------------------------media query started-----------------------------------------------
// ms : 375px,
// 	m:  480px,
// 	wm : 640px,
//  t:  768px,
//  pc: 1200px




