@charset "utf-8";
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url("resources/fonts/NotoSansKR-Thin.eot"); /* IE9 Compat Modes */
    src: url("resources/fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
    src: local(â€»), url("resources/fonts/NotoSansKR-Thin.woff") format("woff"); /* Modern Browsers */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url("resources/fonts/NotoSansKR-Light.eot"); /* IE9 Compat Modes */
    src: url("resources/fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
    src: local(â€»), url("resources/fonts/NotoSansKR-Light.woff") format("woff"); /* Modern Browsers */
    
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    src: url("resources/fonts/NotoSans-DemiLight.eot"); /* IE9 Compat Modes */
    src: url("resources/fonts/NotoSans-DemiLight.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
    src: local(â€»), url("resources/fonts/NotoSans-DemiLight.woff") format("woff"); /* Modern Browsers */
    
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("resources/fonts/NotoSansKR-Regular.eot"); /* IE9 Compat Modes */
    src: url("resources/fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
    src: local(â€»), url("resources/fonts/NotoSansKR-Regular.woff") format("woff"); /* Modern Browsers */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url("resources/fonts/NotoSansKR-Medium.eot"); /* IE9 Compat Modes */
    src: url("resources/fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
    src: local(â€»), url("resources/fonts/NotoSansKR-Medium.woff") format("woff"); /* Modern Browsers */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: url("resources/fonts/NotoSansKR-Bold.eot"); /* IE9 Compat Modes */
    src: url("resources/fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
    src: local(â€»), url("resources/fonts/NotoSansKR-Bold.woff") format("woff"); /* Modern Browsers */
}

body {
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
      font-weight:400;
}
big, strong, b, dt, th {
    font-weight: 400;
}
// .num-font {
//     font-family: 'Lato', sans-serif;
//     font-weight: 400;
// }
